@use '../../../styles/_variables'

*
    padding: 0
    margin: 0
    box-sizing: border-box
    text-decoration: none
    font-family: 'din'
    font-size: 22px
    color: variables.$dark-blue
    list-style: none

.schedule
    &-list
        display: grid
        margin: 50px auto 0 auto
        max-width: variables.$breakpoint-lg

        @media (min-width: variables.$breakpoint-lg)
            outline: 1px solid rgba(0, 0, 0, 0.1)
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px
            border-radius: 10px
            overflow: hidden

    &-item
        display: grid
        grid-template-columns: 1fr 3fr
        height: 60px
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)

        &:last-child
            border-bottom: 0

    &-day
        display: flex
        align-items: center
        padding: 0 15px
        font-family: gearedSlab
        color: white
        background: variables.$dark-blue
        @media (min-width: variables.$breakpoint-md)
            justify-content: center
            padding: 0 25px

        &.long
            display: none
            @media (min-width: variables.$breakpoint-sm)
                display: flex

        &.short
            @media (min-width: variables.$breakpoint-sm)
                display: none

    &-hours
        display: flex
        align-items: center
        justify-content: flex-end
        padding: 0 15px
        font-size: 20px

        @media (min-width: 350px)
            font-size: 22px

        @media (min-width: variables.$breakpoint-sm)
            font-size: 24px

        @media (min-width: variables.$breakpoint-md)
            justify-content: center
            padding: 0 25px

        @media (min-width: variables.$breakpoint-lg)
            background-color: white
