@use '../../../styles/_variables'

*
    padding: 0
    margin: 0
    box-sizing: border-box
    text-decoration: none
    font-size: 22px
    color: variables.$black

:host
    overflow-y: auto

.back-to-top
    &-btn
        position: fixed
        bottom: 0
        right: 0
        width: 60px
        height: 60px
        padding: 0 15px 10px 0
        border-radius: 100% 0 0 0
        display: flex
        justify-content: flex-end
        align-items: flex-end
        background-color: variables.$blue
        border: none
        cursor: pointer
        transition: background-color 0.2s ease-out
        &:hover
            background-color: variables.$light-blue
            .back-to-top-icon
                transform: scale(1.1)

    &-icon
        height: 20px
        fill: white
        background-color: transparent

figcaption
    text-align: center
    font-size: 14px
    font-style: italic

.fm-alexander-img
    height: 100%
    width: 100%
    &-container
        display: flex
        flex-direction: column-reverse
        margin: 0 auto 25px auto
        max-width: 450px
        width: 100%

        @media (min-width: variables.$breakpoint-md)
            margin: 0 25px 0 0
            float: left

.main
    &-container
        scroll-margin-top: 100px
        padding-top: 50px

    &-title
        text-align: center
        margin-bottom: 30px
        font-size: 50px
        color: variables.$blue
        @media (min-width: variables.$breakpoint-lg)
            font-size: 60px

.section

    &-container
        margin: 75px 0
        scroll-margin-top: 150px

        padding: 0 15px

        @media (min-width: variables.$breakpoint-sm-md)
            padding: 0 55px

        @media (min-width: variables.$breakpoint-md)
            padding: 0 30px

        @media (min-width: variables.$breakpoint-lg)
            padding: 0 100px

        @media (min-width: variables.$breakpoint-xl)
            padding: 0 15%

        &:last-of-type
            padding: 0

    &-title
        width: 100%
        height: 60px
        padding: 10px 15px
        margin: 0 0 30px 0
        color: white
        background-color: variables.$blue
        border-radius: 20px
        text-align: center
        display: flex
        justify-content: center
        align-items: center
        font-weight: 200
        font-size: 24px

        @media (min-width: variables.$breakpoint-sm)
            font-size: 26px
        @media (min-width: variables.$breakpoint-lg)
            font-size: 33px

        &.professors
            background-color: transparent
            color: variables.$blue
            font-size: 50px
            font-weight: bold

    &-content
        font-family: 'din'
        letter-spacing: 1px
        word-spacing: 2px
        line-height: 30px

    &-text
        margin-bottom: 25px
        text-align: center
        font-size: 24px

ul
    display: grid
    grid-auto-rows: 1fr

    @media (min-width: variables.$breakpoint-md-lg)
        grid-template-columns: 1fr 1fr
        column-gap: 50px

.li
    display: grid
    grid-template-rows: auto 2fr
    list-style: none
    margin-bottom: 30px
    border-radius: 20px
    background-color: white
    width: 100%
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.25)

    @media (min-width: variables.$breakpoint-sm)
        grid-template-rows: none
        grid-template-columns: 1fr 2fr

    &-title
        font-family: din
        text-align: center
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
        border-radius: 20px 20px 0 0
        padding: 10px 15px
        font-size: 22px
        background-color: variables.$lighter-blue
        color: white

        @media (min-width: variables.$breakpoint-sm)
            border-radius: 20px 0 0 20px
    &-text
        font-family: din
        font-size: 22px

        &-container
            position: relative
            text-align: center
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            height: max-content
            padding: 20px
            height: 100%

.professor

    &-cards
        list-style: none
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr))
        justify-items: center
        gap: 15px
        padding: 0 15px

    &-card
        transition: transform 0.2s ease-out, box-shadow 0.3s ease-in-out
        display: flex
        flex-direction: column
        max-width: 380px
        border-radius: 150px 150px 20px 20px
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.25)

        &-img
            width: 100%
            height: 100%
            border-radius: 20px 20px 0 0
            object-fit: cover
            &-container
                height: 330px

        &-title
            display: flex
            flex-direction: column
            align-items: center
            padding-top: 10px
            color: variables.$blue
            font-size: 30px

        &-role
            color: variables.$blue
            font-size: 20px
            font-weight: normal

        &-text
            display: flex
            flex-direction: column
            justify-content: space-between
            height: 100%
            text-align: center
            padding: 20px
            color: variables.$black

            &-container
                height: 100%

        &-link
            transition: color 0.4s ease, transform 0.4s ease-out
            color: variables.$blue
            padding: 20px
            cursor: pointer
            &:hover
                transform: scale(1.05)
                color: variables.$lighter-blue

.full-width
    width: 100%
