@use '../../../styles/_variables'

*
    padding: 0
    margin: 0
    box-sizing: border-box
    text-decoration: none
    font-family: din
    font-size: 22px
    color: variables.$dark-blue
    list-style: none

.submit-button
    color: white
    background-color: variables.$blue
    width: 200px
    padding: 7.5px 15px
    border-radius: 20px
    border: none
    position: relative
    overflow: hidden
    transition: background-color 0.3s ease
    z-index: 1

    &::after
        content: ''
        position: absolute
        top: 0
        left: -100%
        width: 100%
        height: 100%
        background-color: variables.$light-blue
        transition: left 0.3s ease
        z-index: -1

    &:hover
        background-color: variables.$light-blue
        cursor: pointer

        &::after
            left: 0

.alt-font
    font-family: 'Roboto', Calibri, 'Trebuchet MS', sans-serif
    font-size: 16px
    display: flex
    align-items: center
    transition: color 0.2s ease, fill 0.2s ease
.email-container
    display: flex
    transition: color 0.2s ease, fill 0.2s ease

iframe
    display: none
    @media (min-width: variables.$breakpoint-md)
        display: block
        width: 100%
        max-width: 400px
        height: 245px
        border-radius: 10px

.contact
    &-title
        padding: 10px 0
        font-family: gearedSlab
        font-size: 50px
        text-align: center
        color: white
        background-color: variables.$blue
        background: linear-gradient(to right, variables.$blue, variables.$light-blue)
        border-radius: 0 20px 0 20px

        @media (min-width: variables.$breakpoint-lg)
            font-size: 60px
        @media (min-width: variables.$breakpoint-lg)
            font-size: 60px

    &-description
        display: flex
        justify-content: center
        color: variables.$dark-blue
        font-weight: bolder
        margin-top: 25px

    &-card
        &-container
            display: grid
            margin-top: 25px

            @media (min-width: variables.$breakpoint-md)
                grid-template-columns: repeat(2, 1fr)
                column-gap: 50px
                outline: 1px solid variables.$light-grey
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
                border-radius: 10px
                padding: 10px 20px

        &-list
            display: grid
            row-gap: 10px

            &-item:nth-child(3)
                & .contact-card-link
                    align-items: start
            &-item:last-child
                display: flex
                justify-content: center

        &-link
            display: inline-grid
            grid-template-columns: auto 1fr
            column-gap: 15px
            margin-bottom: 10px
            transition: color 0.2s ease, fill 0.2s ease
            align-items: center
            @media (min-width: variables.$breakpoint-md)
                max-width: 320px

            &:hover,
            &:hover *
                cursor: pointer
                color: variables.$light-blue
                fill: variables.$light-blue

        &-icon
            height: 25px
            width: 20px
            fill: variables.$blue

        &-form
            display: grid

            &-container
                margin: 25px 0
                @media (min-width: variables.$breakpoint-md)
                    margin: 0

            & label
                font-size: 20px

            & input
                padding: 7.5px 15px
                margin: 10px 0 15px 0
                border: none
                border-radius: 2.5px
                outline: 1px solid variables.$light-grey
                transition: transform 0.2s

                &:focus
                    outline: 2px solid variables.$light-blue
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
                    transform: scale(1.02)

            & textarea
                height: 100px
                padding: 7.5px 15px
                border: none
                border-radius: 2.5px
                outline: 1px solid variables.$light-grey
                margin: 10px 0 15px 0
                transition: transform 0.2s

                &:focus
                    outline: 2px solid variables.$light-blue
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
                    transform: scale(1.02)
