$blue: rgba(9,122,179,255)
$light-blue: rgba(50, 160, 220, 255)
$black: rgb(45, 45, 45)
$light-grey: rgba(0,0,0,.1)
$very-light-grey: rgb(244, 244, 244)

$breakpoint-sm: 480px
$breakpoint-sm-md: 600px
$breakpoint-md: 768px
$breakpoint-md-lg: 900px
$breakpoint-lg: 1024px
$breakpoint-xl: 1280px
