$blue: rgba(9,122,179,255)
$light-blue: rgba(50, 160, 220, 255)
$lighter-blue: rgba(100, 190, 240, 255)

$orange: rgb(216, 146, 22)

$black: rgb(45, 45, 45)
$light-grey: rgba(0,0,0,.1)
$very-light-grey: rgb(253, 253, 253)

$breakpoint-sm: 480px
$breakpoint-sm-md: 600px
$breakpoint-md: 768px
$breakpoint-md-lg: 900px
$breakpoint-lg: 1024px
$breakpoint-xl: 1280px
