@use "./variables"

@font-face
    font-family: gearedSlab
    src: url('../assets/fonts/gearedSlab/GearedSlab.ttf') format("truetype")
    font-weight: normal
    font-style: normal

@font-face
    font-family: din
    src: url('../assets/fonts/din/DINPro-Cond.otf') format("opentype")
    font-weight: normal
    font-style: normal

html,
body
    min-height: 100%

body
    font-family: "gearedSlab", 'Roboto', sans-serif
    font-size: 24px
    background-color: rgba(100, 190, 240, 0.15)

header
    background-color: white
    position: sticky
    top: 0
    left: 0
    z-index: 9999
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3)

.contact-card-link
    display: inline-grid
    grid-template-columns: auto 1fr
    column-gap: 15px
    margin-bottom: 10px
    transition: color 0.2s ease, fill 0.2s ease
    align-items: center
    text-decoration: none
    color: inherit

    &:visited
        color: inherit

    @media (min-width: variables.$breakpoint-md)
        max-width: 400px

        &:hover,
        &:hover *
            cursor: pointer
            color: variables.$light-blue
            fill: variables.$light-blue

.contact-card-icon
    height: 25px
    width: 20px
    fill: variables.$blue
    transition: color 0.2s ease, fill 0.2s ease
