@use "./variables"

@font-face
    font-family: gearedSlab
    src: url('../assets/fonts/gearedSlab/GearedSlab.ttf') format("truetype")
    font-weight: normal
    font-style: normal

@font-face
    font-family: din
    src: url('../assets/fonts/din/DINPro-Cond.otf') format("opentype")
    font-weight: normal
    font-style: normal

html,
body
    min-height: 100%
    scrollbar-width: none

body
    font-family: "gearedSlab", 'Roboto', sans-serif
    font-size: 24px
    background-color: variables.$very-light-grey
    position: fixed
    width: 100%

.invisible
    visibility: hidden
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -1
