@use '../../../styles/_variables'

*
    padding: 0
    margin: 0
    box-sizing: border-box
    text-decoration: none
    font-size: 22px
    color: variables.$dark-blue

.back-to-top
    &-btn
        position: fixed
        bottom: 0
        right: 0
        width: 60px
        height: 60px
        padding: 0 15px 10px 0
        border-radius: 100% 0 0 0
        display: flex
        justify-content: flex-end
        align-items: flex-end
        background-color: variables.$blue
        border: none
        cursor: pointer
        transition: background-color 0.2s ease-out
        &:hover
            background-color: variables.$light-blue
            .back-to-top-icon
                transform: scale(1.1)

    &-icon
        height: 20px
        fill: white
        background-color: transparent

.lessons
    &-wrapper
        scroll-margin-top: 150px

    &-card
        display: grid
        grid-template-rows: auto 1fr
        max-width: variables.$breakpoint-lg
        margin: 0 auto 50px auto

        @media (min-width: variables.$breakpoint-lg)
            grid-template-rows: none
            grid-template-columns: 2fr 1fr
            margin: 50px auto
            outline: 1px solid variables.$light-grey
            border-radius: 10px
            overflow: hidden
            background-color: white

        &-text-container
            display: grid
            grid-template-rows: auto 1fr

        &-title
            color: variables.$dark-blue
            text-align: center
            font-weight: 200
            font-size: 36px
            padding: 20px 0
            @media (min-width: variables.$breakpoint-md)
                padding: 20px 0
                margin-bottom: 25px

        &-text
            font-family: 'din'
            letter-spacing: 1px
            word-spacing: 2px
            margin-bottom: 25px
            padding: 10px
            @media (min-width: variables.$breakpoint-md)
                padding: 0 20px

        &-image
            height: 100%
            width: 100%
            object-fit: cover
            &-container
                height: 450px
                width: 100%

.span-full-column-width
    grid-column: 1 / -1

br
    margin-bottom: 25px
