@use '../../../styles/_variables'

*
    padding: 0
    margin: 0
    box-sizing: border-box
    text-decoration: none
    font-size: 22px
    color: variables.$dark-blue

:host
    overflow-y: auto

.back-to-top
    &-btn
        position: fixed
        z-index: 999
        bottom: 0
        right: 0
        width: 60px
        height: 60px
        padding: 0 15px 10px 0
        border-radius: 100% 0 0 0
        display: flex
        justify-content: flex-end
        align-items: flex-end
        background-color: variables.$dark-blue
        border: none
        cursor: pointer
        transition: background-color 0.2s ease-out
        &:hover
            background-color: variables.$medium-blue
            .back-to-top-icon
                transform: scale(1.1)

    &-icon
        height: 20px
        fill: white
        background-color: transparent

.main
    &-container
        scroll-margin-top: 100px

.section
    &-container
        scroll-margin-top: 150px
        border-radius: 10px
        margin: 0 auto
        max-width: variables.$breakpoint-lg

        @media (min-width: variables.$breakpoint-lg)
            background-color: white
            outline: 1px solid variables.$light-grey
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px
            border-radius: 10px
            overflow: hidden
            margin-top: 50px

        &.vocal
            @media (min-width: variables.$breakpoint-lg)
                margin-bottom: 50px

    &-title
        background: linear-gradient(to bottom, variables.$dark-blue, variables.$medium-blue)
        color: white
        text-align: center
        font-weight: 200
        font-size: 36px
        padding: 25px

    &-description
        display: flex
        justify-content: center
        align-items: center
        margin: 25px 0
        padding: 0 20px
        text-align: center
        font-size: 24px
        font-family: 'din'
        letter-spacing: 1px
        word-spacing: 2px

    &-content
        font-family: 'din'
        letter-spacing: 1px
        word-spacing: 2px

.slider
    display: grid
    grid-auto-flow: column
    grid-auto-columns: 100%
    overflow-x: auto
    scrollbar-width: none

    &-title
        text-align: center
        display: flex
        align-items: center
        justify-content: center
        padding: 15px
        font-size: 26px
        font-family: gearedSlab
        font-weight: 100
        background-color: variables.$dark-blue
        color: white

    &-container
        display: grid
        min-height: 300px

    &-card
        padding: 50px 15px
        display: flex
        flex-direction: column
        justify-content: center
        gap: 25px
        background-color: white

        @media (min-width: variables.$breakpoint-sm-md)
            padding: 50px

        &-title
            position: relative
            font-size: 24px
            font-family: gearedSlab
            text-align: center

            @media (min-width: variables.$breakpoint-sm)
                font-size: 26px

            @media (min-width: variables.$breakpoint-lg)
                font-size: 33px

        &-text
            text-align: center
            font-size: 24px

.professor-slider
    &-indicators
        display: grid
        grid-template-columns: repeat(3, 1fr)

    &-indicator
        position: relative
        overflow: hidden
        z-index: 1
        display: flex
        justify-content: center
        align-items: center
        padding: 15px
        border: none
        background-color: variables.$dark-blue
        color: white
        font-family: din
        font-size: 16px

        &:hover
            color: white

        &::before
            content: ''
            position: absolute
            z-index: -1
            top: 0
            left: 0
            width: 0%
            height: 100%
            background: variables.$light-blue
            transition: width 0.3s ease

        &:hover
            cursor: pointer
            &::before
                width: 100%

        &:not(:last-of-type)
            border-right: 1px solid white

.vocal-slider
    &-indicators
        display: grid
        grid-template-columns: repeat(7, 1fr)

        @media (min-width: variables.$breakpoint-lg)
            border-radius: 0 0 10px 10px
            overflow: hidden

    &-indicator
        position: relative
        overflow: hidden
        z-index: 1
        display: flex
        justify-content: center
        align-items: center
        padding: 15px
        border: none
        background-color: variables.$dark-blue
        color: white
        font-family: din
        font-size: 18px

        &:hover
            color: white

        &::before
            content: ''
            position: absolute
            z-index: -1
            top: 0
            left: 0
            width: 0%
            height: 100%
            background: variables.$light-blue
            transition: width 0.3s ease

        &:hover
            cursor: pointer
            &::before
                width: 100%

        &:not(:last-of-type)
            border-right: 1px solid white

.indicating
    background: variables.$light-blue
    color: white

.extra-descriptions-container
    display: grid
    grid-template-rows: repeat(3, 0.5fr 1fr)

.extra-description
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    padding: 15px

    &-image
        width: 100%
        height: 100%
        object-fit: cover

        &-container
            width: 100%
            height: 100%
            max-height: 450px
