@use '../../../styles/_variables'

*
    padding: 0
    margin: 0
    box-sizing: border-box
    text-decoration: none
    font-size: 22px
    color: variables.$black

:host
    overflow-y: auto

.back-to-top
    &-btn
        position: fixed
        bottom: 0
        right: 0
        width: 60px
        height: 60px
        padding: 0 15px 10px 0
        border-radius: 100% 0 0 0
        display: flex
        justify-content: flex-end
        align-items: flex-end
        background-color: variables.$blue
        border: none
        cursor: pointer
        transition: background-color 0.2s ease-out
        &:hover
            background-color: variables.$light-blue
            .back-to-top-icon
                transform: scale(1.1)

    &-icon
        height: 20px
        fill: white
        background-color: transparent

.main
    &-container
        scroll-margin-top: 100px
        padding: 50px 0

        @media (min-width: variables.$breakpoint-sm-md)
            padding: 50px 30px

        @media (min-width: variables.$breakpoint-lg)
            padding: 100px

    &-title
        text-align: center
        margin-bottom: 30px
        font-size: 50px
        color: variables.$blue

        @media (min-width: variables.$breakpoint-lg)
            font-size: 60px

.section

    &-group
        width: 95%
        margin: 0 auto

        @media (min-width: variables.$breakpoint-sm-md)
            width: 100%
            margin: 0

    &-container
        scroll-margin-top: 150px

    &-title
        display: flex
        justify-content: center
        align-items: center
        height: 60px
        padding: 10px 15px
        background-color: variables.$blue
        border-radius: 20px
        color: white
        font-weight: 200
        font-size: 24px

        @media (min-width: variables.$breakpoint-sm)
            font-size: 26px

        @media (min-width: variables.$breakpoint-lg)
            font-size: 33px

    &-description
        display: flex
        justify-content: center
        align-items: center
        margin: 25px 0
        padding: 0 20px
        text-align: center
        font-size: 24px
        font-family: 'din'
        letter-spacing: 1px
        word-spacing: 2px

    &-content
        margin: 50px 0
        font-family: 'din'
        letter-spacing: 1px
        word-spacing: 2px

.slider-title
    font-family: din
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    padding: 15px
    font-size: 22px
    background-color: variables.$medium-blue
    color: white

.slider
    display: grid
    grid-auto-flow: column
    grid-auto-columns: 100%
    overflow-x: auto
    scrollbar-width: none

    &-container
        display: grid
        min-height: 300px
        border-radius: 20px
        overflow: hidden
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.25)

    &-card
        padding: 50px 15px
        background-color: variables.$dark-blue

        @media (min-width: variables.$breakpoint-sm-md)
            padding: 50px

        &-title
            position: relative
            color: white
            font-size: 24px
            font-family: gearedSlab
            text-align: center
            margin-bottom: 25px

            @media (min-width: variables.$breakpoint-sm)
                font-size: 26px

            @media (min-width: variables.$breakpoint-lg)
                font-size: 33px

            &::after
                content: ''
                position: absolute
                left: 50%
                bottom: -5px
                transform: translateX(-50%)
                width: 30%
                height: 2px
                background: currentColor

        &-text
            text-align: center
            color: white

.professor-slider
    &-indicators
        display: grid
        grid-template-columns: repeat(3, 1fr)

    &-indicator
        position: relative
        overflow: hidden
        z-index: 1
        display: flex
        justify-content: center
        align-items: center
        padding: 15px
        border: none
        background-color: variables.$light-blue
        font-family: din
        color: white
        font-size: 16px

        &::before
            content: ''
            position: absolute
            z-index: -1
            top: 0
            left: 0
            width: 0%
            height: 100%
            background-color: variables.$lighter-blue
            transition: width 0.3s ease

        &:hover
            cursor: pointer
            &::before
                width: 100%

        &:not(:last-of-type)
            border-right: 1px solid white

.vocal-slider
    &-indicators
        display: grid
        grid-template-columns: repeat(7, 1fr)

    &-indicator
        position: relative
        overflow: hidden
        z-index: 1
        display: flex
        justify-content: center
        align-items: center
        padding: 15px
        border: none
        background-color: variables.$light-blue
        font-family: din
        color: white
        font-size: 16px

        &::before
            content: ''
            position: absolute
            z-index: -1
            top: 0
            left: 0
            width: 0%
            height: 100%
            background-color: variables.$lighter-blue
            transition: width 0.3s ease

        &:hover
            cursor: pointer
            &::before
                width: 100%

        &:not(:last-of-type)
            border-right: 1px solid white

.indicating
    background-color: variables.$lighter-blue

.extra-descriptions-container
    display: grid
    grid-template-rows: repeat(6, 1fr)
    overflow: hidden
    background-color: variables.$light-blue
    border-radius: 20px
    margin-top: 50px

    @media (min-width: variables.$breakpoint-md)
        grid-template-rows: repeat(3, 1fr)
        grid-template-columns: repeat(2, 1fr)

.extra-description
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: white
    padding: 15px

    @media (min-width: variables.$breakpoint-md)
        &:nth-of-type(2)
            grid-column: 2
            grid-row: 2

    &-image
        width: 100%
        height: 100%
        object-fit: cover

        &-container
            width: 100%
            height: 100%
