@use '../../../styles/_variables'

*
    padding: 0
    margin: 0
    box-sizing: border-box
    text-decoration: none

.dropdown
    &-button
        &.open .dropdown-icon
            transform: rotate(180deg)

    &-icon
        width: 7.5px
        margin-left: 7.5px
        fill: variables.$blue
        transition: transform 0.3s ease

.logo
    width: 175px

    &-small
        width: 50px
        order: -1

    &-button-container
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        padding: 0 30px 30px 30px

        @media (min-width: variables.$breakpoint-sm-md)
            padding: 0 80px 30px 80px

        @media (min-width: variables.$breakpoint-md)
            display: none

.home-link
    width: max-content

.open
    &-button
        height: max-content
        width: max-content
        background-color: transparent
        border: none

        @media (min-width: variables.$breakpoint-md)
            display: none

    &-icon
        height: 25px
        width: 25px
        fill: variables.$black
        transition: transform 0.3s
        &:hover
            transform: scale(1.1) rotate(180deg)
            cursor: pointer

.close
    &-button
        height: max-content
        width: max-content
        background-color: transparent
        border: none

    &-icon
        height: 25px
        width: 25px
        fill: variables.$black
        transition: transform 0.3s
        &:hover
            transform: scale(1.1) rotate(180deg)
            cursor: pointer

.nav
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    max-width: 1000px
    margin: 0 auto
    background-color: white

    &-container
        background-color: white
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

    &-items

        position: absolute
        z-index: 1000
        right: 0
        top: 0
        display: none
        flex-direction: column
        align-items: center
        height: 100dvh
        padding: 30px 0
        transform: translateX(100%)
        transition: transform 0.3s ease-in-out
        background-color: white

        &.open
            width: 100%
            transform: translateY(0)

            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

        @media (min-width: variables.$breakpoint-md)
            z-index: auto
            position: static
            flex-direction: row
            transform: none
            width: auto
            height: auto
            margin-left: auto
            padding: 0
            box-shadow: none

    &-link
        position: relative
        padding: 15px 0
        width: 120px
        color: variables.$blue
        transition: color 0.3s ease
        border: none
        background-color: transparent
        font-size: 24px
        font-family: gearedSlab
        display: flex
        align-items: center
        justify-content: center

        @media (min-width: variables.$breakpoint-md)
            width: max-content
            padding: 0 10px
            height: 24px
            display: flex

        @media (min-width: variables.$breakpoint-lg)
            padding: 0 20px

        &::after
            content: ""
            position: absolute
            bottom: 0
            left: -50%
            width: 200%
            height: 3px
            background-color: variables.$blue
            transform: scaleX(0)
            transform-origin: bottom right
            transition: transform 0.3s ease

            @media (min-width: variables.$breakpoint-md)
                left: 0
                width: 100%
                bottom: -40px

        &:hover
            color: variables.$light-blue
            cursor: pointer

            .dropdown-icon
                fill: variables.$light-blue

            &::after
                transform: scaleX(1)
                transform-origin: bottom left

.submenu
    display: flex
    flex-direction: column
    width: 100%
    font-size: 18px
    font-family: din
    transition: max-height 0.3s ease-out, opacity 0.1s
    overflow: hidden
    max-height: 0
    opacity: 0
    z-index: 10000

    @media (min-width: variables.$breakpoint-md)
        position: absolute
        top: 62px
        left: 50%
        transform: translateX(-50%)
        width: 260px

    &.open
        transition: max-height 0.3s ease-out, opacity 0.2s
        max-height: 600px
        opacity: 1

    &-link
        padding: 20px 0
        background-color: variables.$blue
        text-align: center
        color: white
        font-size: 20px
        transition: background-color 0.3s ease

        @media (min-width: variables.$breakpoint-md)
            border-bottom: 1px solid variables.$light-blue

        &:hover
            background-color: variables.$light-blue
            cursor: pointer

    &-link-container
        display: flex
        flex-direction: column
        align-items: center
        width: 100%

        @media (min-width: variables.$breakpoint-md)
            position: relative
            width: max-content
