@use '../../../styles/_variables'

*
    padding: 0
    margin: 0
    box-sizing: border-box
    text-decoration: none
    font-size: 22px
    color: variables.$dark-blue

.navbar
    &-container
        display: grid
        grid-template-columns: auto 1fr
        column-gap: 20px
        padding: 10px 20px
        max-width: variables.$breakpoint-lg
        margin: 0 auto

    &-nav
        position: fixed
        right: -100%
        top: variables.$header-height
        background-color: variables.$blue
        height: 100%
        transition: right 0.5s ease

        &.open
            right: 0
            box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.3)

        @media (min-width: variables.$breakpoint-md)
            background: white
            position: static
            align-content: center
            justify-content: end

    &-logo
        height: 100%
        width: 100%
        &-container
            height: 100%
            width: 190px
            background-color: transparent
            border: none

            &:hover
                cursor: pointer

    &-toggle
        &-container
            display: flex
            justify-content: flex-end

            @media (min-width: variables.$breakpoint-md)
                display: none

        &-icon
            height: 35px
            width: 35px
            fill: variables.$blue

        &-button
            background-color: transparent
            border: none
            &:hover
                cursor: pointer

    &-list
        display: flex
        flex-direction: column
        gap: 20px
        list-style: none
        margin-top: 50px
        width: 80vw
        max-width: 350px

        @media (min-width: variables.$breakpoint-md)
            max-width: none
            width: 100%
            gap: 0
            margin: 0
            flex-direction: row
            justify-content: flex-end

        @media (min-width: variables.$breakpoint-md-lg)
            gap: 20px

    &-button
        position: relative
        z-index: 2
        border: none
        font-family: gearedSlab
        font-size: 28px
        color: white
        width: 100%
        padding: 10px 15px
        background: transparent
        overflow: hidden
        transition: color 0.5s ease, background-color 0.3s ease
        @media (min-width: variables.$breakpoint-md)
            color: variables.$blue
            font-size: 26px
            width: max-content
        @media (min-width: variables.$breakpoint-md-lg)
            font-size: 28px

        &:hover
            cursor: pointer
            color: variables.$blue
            @media (min-width: variables.$breakpoint-md)
                color: white

        &::before,
        &::after
            content: ""
            position: absolute
            width: 0
            height: 50%
            background-color: white
            transition: all 0.4s
            z-index: -1
            @media (min-width: variables.$breakpoint-md)
                background-color: variables.$blue

        &::before
            right: 0
            top: 0

        &::after
            left: 0
            bottom: 0

        &:hover
            &::before,
            &::after
                width: 100%

.hidden
    display: none
